/* GERAL ============================= */
:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
	font-size: 1.6rem;

	display: flex;
	flex-direction: column;
}

/* NAVEGATION ==================== */
header {
	background: #226ed8;
	box-shadow: 0rem 0rem 1rem 0.2rem rgba(0, 0, 0, 0.3);

	width: 100%;
	height: 8rem;

	display: flex;
	align-items: center;
}

.alignHeader {
	width: 100%;
	margin-inline: 15%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-style: normal;
	font-size: 3rem;
	line-height: 4.5rem;

	color: #fafafa;
}

/* Switch button */
.onoffswitch {
	position: relative;
	width: 5.5rem;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2.8rem;
	border-radius: 2.4rem;
	background: linear-gradient(
		269.72deg,
		#222222 0.23%,
		#111111 0.24%,
		#2e2e2e 99.76%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
	content: '';
	width: 2.2rem;
	height: 2.2rem;

	background: #ffffff;
	background-image: url(/assets/dark_mode.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;

	right: 0.4rem;
	border-radius: 2.4rem;

	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background: linear-gradient(90deg, #ffc93f 0%, #ffc93f 0.01%, #ffe03f 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 2.9rem;
	width: 2.2rem;
	height: 2.2rem;

	background: #ffffff;
	background-image: url(/assets/light_mode.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

/* MAIN */
main {
	/* background: red; */
	margin: 2% 15%;
}

/* Frase do dia */
.fraseDoDia {
	width: 100%;
	margin-top: 1rem;

	background: #ffd569;
	box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.04);
	border-radius: 2rem;

	display: flex;
	align-items: center;

	padding: 1.4rem;
	padding-left: 2.2rem;
}

/* bolinha */
.bollFraseFora {
	width: 4rem;
	height: 4rem;
	border-radius: 4rem;
	margin-right: 1.2rem;

	background: #fffcee;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bollFrase {
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 3.2rem;

	background: #fff5c0;
	display: flex;
	align-items: center;
	background-image: url(/assets/tips_and_updates_light.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

.tituloFrase {
	color: #ffffff;
	text-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.25);

	font-style: normal;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: -0.017em;
}

/* Tasks */
section {
	width: 100%;
	margin-top: 2.5rem;
}

section h5 {
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	color: #141414;
}

section div {
	width: 100%;
}

.topo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add {
	border: 0.2rem solid #226ed8;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;

	background-image: url(/assets/add_light.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.task {
	height: 28rem;
	margin-top: 0.8rem;
	padding: 2rem;

	background: #eeeeee;
	border-radius: 1rem;

	overflow-y: scroll;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 10px;
}

/* Roda pé */
footer {
	background-color: #226ed8;
	height: 7rem;
	width: 100%;

	font-size: 1.4rem;
	line-height: 2.1rem;
	color: #ffffff;

	display: flex;
	align-items: center;

	position: fixed;
	bottom: 0;
	left: 0;
}

.rodape {
	width: 100%;

	margin-inline: 15%;
}
