/* GERAL ============================= */
:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
	font-size: 1.6rem;

	display: flex;
	flex-direction: column;
	min-width: 30rem;
}

/* NAVEGATION ==================== */
header {
	background: #226ed8;
	box-shadow: 0rem 0rem 1rem 0.2rem rgba(0, 0, 0, 0.3);

	width: 100%;
	height: 8rem;

	display: flex;
	align-items: center;
}

header .container {
	width: 85%;
	max-width: 98rem;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-style: normal;
	font-size: 3rem;
	line-height: 4.5rem;

	color: #fafafa;
}

/* Switch button */
.onoffswitch {
	position: relative;
	width: 5.5rem;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2.8rem;
	border-radius: 2.4rem;
	background: linear-gradient(
		269.72deg,
		#222222 0.23%,
		#111111 0.24%,
		#2e2e2e 99.76%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
	content: '';
	width: 2.2rem;
	height: 2.2rem;

	background: #ffffff;
	background-image: url(/assets/dark_mode.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;

	right: 0.4rem;
	border-radius: 2.4rem;

	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background: linear-gradient(90deg, #ffc93f 0%, #ffc93f 0.01%, #ffe03f 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 2.9rem;
	width: 2.2rem;
	height: 2.2rem;

	background: #ffffff;
	background-image: url(/assets/light_mode.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

/* MAIN */
main {
	width: 100%;
	height: 100%;
}

main .container{
	width: 85%;
	max-width: 98rem;
	margin: auto;
	
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* Frase do dia */
.containerFraseDoDia{
	background: #FFD569;
	box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.04);
	border-radius: 2rem;

	display: flex;
	align-items: center;
	padding: 1.3rem;
	padding-left: 3rem;

	cursor: pointer;
}

.bollFrase {
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 3.2rem;

	background: #fff5c0;
	box-shadow: 0 0 0 5px #fffcee;
	background-image: url(/assets/tips_and_updates_light.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.content{
	margin-left: 1.5rem;
}

.tituloFrase{
	color: #FFFFFF;
	text-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.25);

	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.frase{
	display: none;
}

@media(min-width:777px){
	.containerFraseDoDia{
		background: #ffffff;
		display: flex;
		align-items: flex-start;

		cursor: default;
		pointer-events: none;
	}

	.tituloFrase{
		color: #141414;
		text-shadow: none;
	}

	.frase{
		display: flex;
	}
}

/* Modal */
.modalBack{
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;

	background: rgb(0,0,0,.5);

	display: none;
	justify-content: center;
	align-items: center;
}

.modalBack.mostrar{
	display: flex;
}

@keyframes modal {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.mostrar .modalContainer{
	animation: modal .3s;
}

.modalContainer {
	background: #FFFFFF;
	box-shadow: 0rem 0rem 1rem 0.2rem rgba(0, 0, 0, 0.25);
	border-radius: 2rem;

	padding: 4rem;

	width: 60%;
	min-width: 315px;
}

.modalFraseTopo{
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 1rem;
	
}

.modalFraseTopo div{
	display: flex;
	align-items: center;
}

.modalBollFrase {
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 3.2rem;

	background: #fff5c0;
	box-shadow: 0 0 0 5px #fffcee;
	background-image: url(/assets/tips_and_updates_light.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.modalTituloFrase{
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.8rem;

	margin-left: 1rem;
}

.close {
	border: 0.2rem solid #226ed8;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;

	background-image: url(/assets/close_light.svg);
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}

.modalFrase{
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.1rem;

	color: #141414;
}

/* Tasks */
section {
	width: 100%;
	height: 100%;
	
	margin-top: 2.5rem;
	margin-bottom: 7.0rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

section h5 {
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	color: #141414;
}

.secoes {
	width: 100%;
}

.topo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.addButton {
	border: 0.2rem solid #226ed8;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;

	background-image: url(/assets/add_light.svg);
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}

.task {
	height: 25rem;
	margin-top: 0.8rem;
	padding-inline: 1.5rem;
	padding-bottom: 1.5rem;

	background: #eeeeee;
	border-radius: 1rem;

	overflow-y: scroll;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 10px;
}

/* modal */
.modalAdd{
	position: relative;
}

.modalAddTopo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalAddTopo h3{
	font-weight: 600;
	font-size: 2rem;
	line-height: 3rem;
	color: #226ED8;
}

.modalAddTopo .linha{
	height: 0.3rem;
	width: 12.1rem;
	background: #226ED8;
	border-radius: 1rem;
}

.modalAdd .close{
	position: absolute;
	top: 0;
	right: 0;
}

.modalAdd form{
	display: flex;
	flex-direction: column;
}

.modalAdd label{
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.1rem;
	margin-top: 2rem;
}

.modalAdd input{
	height: 4rem;
	padding: 1rem;
	background: #EEEEEE;
	border-radius: 10px;
	border: 1 solid #eeeeee;

	outline: none;
}

input:invalid{
	border-color: red;
}

.modalAdd textarea{
	height: 8rem;
	padding: 1rem;
	background: #EEEEEE;
	border-radius: 10px;
	border: 0 none;

	outline: none;
}

.modalAdd button{
	margin-top: 4rem;
	padding: 1.5rem;

	background: #226ED8;

	color: #FFFFFF;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2.1rem;

	border-radius: 2rem;
	border: 0 none;

	cursor: pointer;
}

.tasksBox {
	width: 100%;
	/* height: 8rem; */

	margin-top: 1.5rem;
	padding: 1.3rem;

	background: #ffffff;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}


.tasksTitulo{
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.1rem;
	color: #141414;
}

.collapsible {
	color: #141414;
	background: none;

	padding-right: 1rem;
	margin-top: 0.5rem;
	border: none;
	
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.8rem;

	background-image: url(/assets/expand_more_light.svg);
	background-repeat: no-repeat;
	background-position: 6.5rem center;

	text-align: left;

	cursor: pointer;
}

.collapsible.active{
	color: #002D6C;
	background: none;

	padding-right: 1rem;
	margin-top: 0.5rem;
	border: none;
	
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.8rem;

	background-image: url(/assets/expand_less_light.svg);
	background-repeat: no-repeat;
	background-position: 6.5rem center;

	text-align: left;

	cursor: pointer;
}

.contentDescricao {
    padding: 0.3rem 0;
    display: none;
    overflow: hidden;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #000000;
}

.collapsibleOut {
	display: flex;
	flex-direction: column;
}

.bottomTasks {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
}

.tasksAction{
	display: flex;
}

.next{
	/* border: 0.2rem solid #226ed8; */
	background: #226ed8;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;

	background-image: url(/assets/navigate_next_light.svg);
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}

.before{
	border: 0.15rem solid #226ed8;
	/* background: #226ed8; */
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;

	background-image: url(/assets/navigate_before_light.svg);
	background-repeat: no-repeat;
	background-position: center;

	margin-inline: 0.5rem;

	cursor: pointer;
}

.replay{
	/* border: 0.2rem solid #226ed8; */
	background: #226ed8;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;

	background-image: url(/assets/replay_light.svg);
	background-repeat: no-repeat;
	background-position: center;

	padding: 0.5rem;

	cursor: pointer;
}

.deleteIcon{
	width: 1.6rem;
	height: 1.6rem;

	background-image: url(/assets/delete_outline_light.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.excluir{
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #DF0000;
	margin-left: 0.2rem;
}

.topTasks{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn {
	border: none;
	background-color: inherit;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
}

.dropdown-content button{
  	display: flex;
  	align-items: center;
  	background-color: #ffffff;
  	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0.4rem;
  	border: none;
  	cursor: pointer;

	padding: 0.3rem;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Roda pé */
footer {
	background-color: #226ed8;
	height: 5rem;
	width: 100%;

	display: flex;
	align-items: center;

	position: fixed;
	bottom: 0;
	left: 0;
}

footer .container {
	width: 85%;
	max-width: 98rem;
	margin: auto;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	font-size: 1.4rem;
	line-height: 2.1rem;
	color: #ffffff;
}

footer .container div{
	padding-right: 1.6rem;
}
